@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html {
  padding: 0;
}

.logo-link {
  font-size: 1.875rem;
  background-color: rgba(1, 1, 1, 0);
  border: none;
  margin-right: 3vw;
  margin-left: 3vw;
  color: #0290ff;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-bottom-color: #e8e8e8;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  justify-content: center;
  height: 5.875rem;
  align-items: center;
  width: 100%;
}

.inner-nav {
  width: 81vw;
  display: flex;
}

.links {
  display: flex;
  width: 12vw;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  font-weight: 400;
}

.content {
  background-color: #fafafa;
  margin: 0;
}

.nav-item {
  font-size: 0.813rem;
  text-decoration: none;
  color: #e8e8e8;
  height: 2rem;
  text-align: center;
}

.nav-item:hover {
  color: black;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.2rem;
  width: 1.2rem;
  padding: 10px;
  border-color: #e8e8e8;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  margin-left: 38vw
}

.icon {
  fill: #0290ff;
}

.list {
  width: 50vw;
}

.horizontal {
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-bottom: solid 2px #e8e8e8;
}