.list {
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: auto;
  padding: 0;
}

.list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
