@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

.list {
  display: flex;
  flex-direction: column;
  width: 73.125rem;
  margin: auto;
  padding: 0;
}

.list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  border-color: #e8e8e8;
  border-width: 1px;
  border-style: solid;
  height: 7rem;
  margin-top: 2.375rem;
  padding: 20px;
}

.category{
  font-family: 'Montserrat', sans-serif;
  color: #121212;
  margin: 0 2.438rem 0 0;
  font-size: 0.875rem;
  opacity: 0.5;
}

.title {
  font-size: 1.375rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: 'Roboto Slab', serif;
  color: #121212;
}

.author {
  margin: 0.25rem 0.875rem 0 0;
  font-family: 'RobotoSlab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.interact {
  margin-top: 5%;
}

.interact-btn {
  background-color: rgba(1, 1, 1, 0);
  border: none;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: 'RobotoSlab';
  font-size: 0.875rem;
  color: #4386bf;
}

.sep {
  border-left-style: solid;
  border-left-color: #e8e8e8;
  border-left-width: 1px;
}

.left {
  width: 25rem;
}

.middle {
  display: flex;
  margin-top: 0.3rem;
}

.progress-wheel {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  border-color: #379cf6;
  border-radius: 50%;
  border-image-slice: 1;
}

.percentage {
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #121212;
}

.completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: 'Montserrat', serif;
  font-size: 0.875rem;
  color: #121212;
}

.line {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border-left: solid 2px #e8e8e8;
}

.current-chapter {
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: 'RobotoSlab';
  font-size: 1.2rem;
  font-weight: 300;
  color: #121212;
}

.chapter {
  margin: 0.438rem 0 0.25rem 3.688rem;
  font-family: RobotoSlab;
  font-size: 1.2rem;
  font-weight: 400;
  color: #121212;
}

.update {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'RobotoSlab';
  font-weight: 300;
  color: #e8e8e8;
  border: none;
}